<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz de Matemática</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
</head>
<body>

<div class="container">
    <h1>Quiz de Matematica</h1>
    <div id="questao"></div>
    <input type="number" id="resposta" placeholder="Digite sua resposta">
    <div class="buttons">
        <button onclick="verificaResposta()">Enviar</button>
        <button onclick="proximaQuestao()">Proximo</button>
    </div>    
    <div id="resultado"></div>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>